/* ***************************************
                Navbar
****************************************** */
nav {
    background-color: rgba(0, 0, 111, 0.776);
}

/* ***************************************
                Jumbotron
****************************************** */
.jumbotron {
    background-image: url(../img/jumbotron.jpg);
    height: 900px;
    background-size: cover;
}
.jumbotron h1 {
    color: white;
    margin: auto;
}
.jumbotron p {
    color: white;
    margin: auto;
}


/* ***************************************
                Cards
****************************************** */
.houses {
    display: inline-block;
}